/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* GENERALE */
a,
li,
nav.menu-orizzontale {
    display: inline-block;
}

/* UTILITY */
.button {
    padding: 10px 30px;
    border-radius: 30px;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
    color: white;
}

/* INTESTAZIONE */
header {
    background-color: #3161e0;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.intestazione {
    width: 80%;
    margin: 0 auto;
}

#logo {
    vertical-align: middle;
}

a#sign-up,
#link-logo {
    width: 14%;
}

/* MENU ORIZZONTALE */
nav.menu-orizzontale {
    width: 70%;
}

nav ul li a {
    padding: 0 20px;
    color: white;
}

nav ul li a:hover {
    color: rgb(122, 0, 122);
    font-weight: bold;
    font-size: 1.2em;
}

/* SEZIONE HERO */
section.hero {
    height: 50vh;
    background-image: url("./../img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div.text-hero {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.text-hero > h2 {
    font-size: 3em;
}

div.text-hero > p {
    margin: 20px 0 30px 0;
}

div.text-hero > a:first-of-type {
    margin-right: 20px;
}
